<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>
        Ops...
    </title>
    <link rel="icon" href="{% static 'media/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/ops.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Inter:wght@100&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Inter:wght@100&family=Montserrat:wght@300&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
</head>

<body>

    <div>
        <p class="h1"> Error 404</p>
        <img src="/static/media/ops.png" alt="oooops">
        <p class="text-small"> Oooops... this page does not exist... yet...</p>
        <a class="butt" rel="stylesheet" href="/">Main page</a>
    </div>

</body>
</html>